.container {
  padding: 16px;
  display:  flex;
  flex-direction: column;
  width: 100%;
  background-color: #080808;
  // height: 100vh;
}

.buttonContainer{
  margin: 1rem 0 !important;
  padding: 1rem;
  height: 312px;
}
.timeContainer {
  display: flex;
  .menu {
    margin-top: 3rem;
    margin-right:1rem;
    display:  flex;
    flex-direction: column;
    flex-grow: 1;
    .statusLightContainer {
      display: flex;
      flex-wrap: nowrap;
    }
    .hole {
      padding: 8px;
      display: inline-block;
      font-weight: 600;
      color: rgba(255, 255, 255, 0.746);
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
  .panel {
    position: relative;
    padding:  8px;
    // height: 100%;
    flex-grow: 1;
  }
  .time {
    justify-self: end;
  } 
}
.button {
  background-color: rgba(0, 0, 0, 0.45);
  color: rgb(34, 34, 34);
  border: none;
  padding: .3rem .5rem;
}
.logo{
  display: block;
  margin-left: auto;
}
.footer {
  align-items: center;
  display: flex;
  gap: 12px;
}
.componentLink {
  background: #111;
  border: 1px solid #292929;
  border-radius: 4px;
  box-shadow: inset 1px 1px 4px rgba(0, 0, 0, .7), 1px 1px 0 rgba(255, 255, 255, .05);
  color: #9da198;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: .08em;
  padding: 10px 13px;

  span {
    color: #b7d879;
    margin-left: 8px;
  }
}
.buttonImg {
  width: 40px;
  height: 40px;
  margin: 10px;
  transform: translateX(1px);
}
.timePanel {
  padding: 1rem;
}
.content {
  font-size: 15px;
  text-align: center;
  font-weight: 600;
}
.CRT {
  display: inline-block;
  height: 270px !important;
}
.CRTContainer {
  display: flex;
  .ctrlPanel{
    margin: 1rem;
  }
  .menu {
    .select {
      background-color: white;
      color: black;
    }
  }
  // flex-wrap: wrap;
  // justify-content: center;
}
